// 4CC team colors in chat.
.team-4cc { color: #117743; }
.team-4cc-3 { color: #33cccc; }
.team-4cc-a { color: #ff0099; }
.team-4cc-aco { color: #ffffff; }
.team-4cc-adv { color: #a67b5a; }
.team-4cc-an { color: #ff9900; }
.team-4cc-asp { color: #d21400; }
.team-4cc-b { color: #749755; }
.team-4cc-balk { color: #0000bf; }
.team-4cc-bant { color: #3c65a7; }
.team-4cc-biz { color: #fcc119; }
.team-4cc-bobby { color: orange; }
.team-4cc-boo { color: white; }
.team-4cc-britpol { color: #00247c; }
.team-4cc-c { color: #ffc0c0; }
.team-4cc-cg { color: #fff200; }
.team-4cc-cgl { color: #ea00ff; }
.team-4cc-ck { color: #ffcc00; }
.team-4cc-cm { color: #33ffff; }
.team-4cc-co { color: #e10000; }
.team-4cc-d { color: #513082; }
.team-4cc-daisy { color: orange; }
.team-4cc-dk { color: brown; }
.team-4cc-e { color: #000000; }
.team-4cc-f { color: #009966; }
.team-4cc-fa { color: #000000; }
.team-4cc-fit { color: #ffe600; }
.team-4cc-fsg { color: #d4af37; }
.team-4cc-g { color: #bbbaff; }
.team-4cc-gd { color: slategray; }
.team-4cc-gif { color: #d21400; }
.team-4cc-h { color: #87ceeb; }
.team-4cc-his { color: #fcd405; }
.team-4cc-i { color: #498fcb; }
.team-4cc-int { color: #ffffff; }
.team-4cc-italypol { color: #b22a23; }
.team-4cc-jp { color: #cc99ff; }
.team-4cc-k { color: #669933; }
.team-4cc-lgbt { color: #4b2f4b; }
.team-4cc-lit { color: #777777; }
.team-4cc-lrg { color: #ffc800; }
.team-4cc-luigi { color: green; }
.team-4cc-m { color: #ff8080; }
.team-4cc-mario { color: red; }
.team-4cc-mlp { color: #9966ff; }
.team-4cc-mlpol { color: #ffffff; }
.team-4cc-mu { color: #00cc00; }
.team-4cc-n { color: #336633; }
.team-4cc-nsg { color: #dd0000; }
.team-4cc-o { color: #ee1b2c; }
.team-4cc-out { color: #347235; }
.team-4cc-p { color: #901719; }
.team-4cc-peach { color: pink; }
.team-4cc-po { color: #e4eded; }
.team-4cc-pol { color: #dd0000; }
.team-4cc-ptg { color: #3b3b6d; }
.team-4cc-r9k { color: #480008; }
.team-4cc-s4s { color: #daa520; }
.team-4cc-sci { color: #0047ab; }
.team-4cc-sg { color: #ce1126; }
.team-4cc-sng { color: #ed1c24; }
.team-4cc-soc { color: #fdb73b; }
.team-4cc-sp { color: #990000; }
.team-4cc-t { color: #cb2d30; }
.team-4cc-tcr { color: #000; }
.team-4cc-tg { color: #0033ff; }
.team-4cc-toad { color: red; }
.team-4cc-toadette { color: pink; }
.team-4cc-toy { color: #996633; }
.team-4cc-trv { color: #ffb90f; }
.team-4cc-tv { color: #00ff88; }
.team-4cc-u { color: #e35496; }
.team-4cc-v { color: #9900ff; }
.team-4cc-vg { color: #1e36b9; }
.team-4cc-vp { color: #2e62ad; }
.team-4cc-vr { color: #999999; }
.team-4cc-w { color: #ff4000; }
.team-4cc-waluigi { color: purple; }
.team-4cc-wario { color: yellow; }
.team-4cc-wg { color: #3760ae; }
.team-4cc-wsg { color: #ff0a4d; }
.team-4cc-x { color: #000000; }
.team-4cc-y { color: #004529; }
.team-4cc-yoshi { color: green; }

// VGL colors in chat.
.team-vgl { color: #117743; }
.team-vgl-2hug { color: #7fac75; }
.team-vgl-aceg { color: #ce5200; }
.team-vgl-agdg { color: #000000; }
.team-vgl-alg { color: #72e6f5; }
.team-vgl-aog { color: #e08941; }
.team-vgl-assg { color: #c62b29; }
.team-vgl-civ4xg { color: #361154; }
.team-vgl-d2g { color: #9c3427; }
.team-vgl-dbg { color: #e08328; }
.team-vgl-ddlc { color: #a9888b; }
.team-vgl-dfg { color: #bd00ff; }
.team-vgl-digi { color: #ff9933; }
.team-vgl-domg { color: #8a0707; }
.team-vgl-drg { color: #ffffff; }
.team-vgl-feg { color: #0d426e; }
.team-vgl-ffg { color: #3b8584; }
.team-vgl-fgg { color: #000088; }
.team-vgl-fgoalter { color: #0b3d8e; }
.team-vgl-fgog { color: #900a1b; }
.team-vgl-fhg { color: #bd1a1a; }
.team-vgl-gbfg { color: #4561ba; }
.team-vgl-gfg { color: #ffaa00; }
.team-vgl-gsg { color: #003153; }
.team-vgl-hanny { color: #e11212; }
.team-vgl-hpgg { color: #1a472a; }
.team-vgl-hsg { color: #ccaa49; }
.team-vgl-imas { color: #f20972; }
.team-vgl-indie { color: #471f10; }
.team-vgl-ink { color: #f3902f; }
.team-vgl-ksg { color: #09a914; }
.team-vgl-llsifg { color: #e7147e; }
.team-vgl-lzg { color: #3979dd; }
.team-vgl-mbg { color: #a10000; }
.team-vgl-mcg { color: #6ca45d; }
.team-vgl-meg { color: #00245d; }
.team-vgl-mggg { color: #ee5689; }
.team-vgl-nepgen { color: #4e3483; }
.team-vgl-osg { color: #8cc642; }
.team-vgl-pmmm { color: #f7d2e9; }
.team-vgl-rlg { color: #4a4e56; }
.team-vgl-rsg { color: #4f8c9c; }
.team-vgl-skg { color: #e44f4b; }
.team-vgl-skirara { color: #6fa0ff; }
.team-vgl-ss13g { color: #949494; }
.team-vgl-ssbg { color: #630090; }
.team-vgl-svg { color: #13d5f6; }
.team-vgl-tesg { color: #5b253d; }
.team-vgl-tf2g { color: #bd3b3b; }
.team-vgl-tnm { color: #e46520; }
.team-vgl-twg { color: #990000; }
.team-vgl-utg { color: #67a4e0; }
.team-vgl-vitagen { color: #000000; }
.team-vgl-vn { color: #ffffff; }
.team-vgl-vrg { color: #34c7cf; }
.team-vgl-wtg { color: #de0000; }
.team-vgl-xcg { color: #077887; }
.team-vgl-yyy { color: #fac0c9; }
