<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="release" content="{{ daiseihai.release }}">
    {% block metadata %}{% endblock %}
    <title>{% block title %}Bootleg 4CC{% endblock %}</title>
    <link rel="stylesheet" href="{{ static('style.css') }}?v={{ daiseihai.release }}">
    <link rel="shortcut icon" href="{{ static('favicon.png') }}">
    <script src="{{ static('bundle.js') }}?v={{ daiseihai.release }}"></script>
</head>
<body id="{% block bodyID %}{% endblock %}">
    <header>
        <a href="{{ url('index') }}">
            <h1>Bootleg 4CC</h1>
            <p>Seeing as the global economy is going down the shitter and job security is becoming increasingly unsecure, the future operation of this site cannot be guaranteed. Therefore it might be a good idea to preserve local backups if you care about preserving its contents for posterity (the server has unlimited outbound traffic).</p>
        </a>
        <nav>
            <a href="{{ url('team_list') }}">Teams</a>
        </nav>
    </header>
    <div class="content">{% block content %}{% endblock %}</div>
    <div id="videoOverlay">
        <div id="videoContainer"></div>
        <div id="bookmarkContainer"></div>
    </div>
</body>
</html>
