{% extends "archive/base.html" %}

{% from "archive/videos.html" import video_card %}

{% block title %}{{ object.name }} - Bootleg 4CC{% endblock %}

{% block content %}
    <div class="info-header team-info">
        <h2>{{ object.name }}</h2>
    </div>
    <div class="grid-wrapper">
        <div class="videos grid">
            {% for tournament, video_list in videos|groupby('tournament.name')|reverse %}
                <div class="year">
                    <h2>{{ tournament }}</h2>
                </div>
                {% for video in video_list %}
                    {{ video_card(video, name=False) }}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
