{% extends "archive/base.html" %}

{% from "archive/videos.html" import video_card %}

{% block metadata %}
<meta property="og:title" content="{{ object.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri() }}" />
<meta property="og:image" content="{{ object.logo.url }}" />
<meta property="og:site_name" content="Bootleg 4CC" />
<meta property="og:description" content="Bootleg recordings of the {{ object.name }}. {% with video_count = videos|length %}{{ video_count }} video{% if video_count != 1 %}s{% endif %}{% endwith %}." />
{% endblock %}

{% block title %}{{ object.name }} - Bootleg 4CC{% endblock %}

{% block content %}
    <div class="info-header tournament-info">
        <h2>{{ object.name }}</h2>
        <h3>{{ object.start_date|dateformat }} - {{ object.end_date|dateformat }}</h3>
        {% if videos|length >= 30 %}
            <div class="day-selector">
                {% for date in videos|map(attribute='date')|unique %}
                    <a href="#day-{{ loop.index }}">Matchday {{ loop.index }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="grid-wrapper">
        <div class="videos grid">
            {% if videos|length >= 30 %}
                {% for day, video_list in videos|groupby('date') %}
                    <div class="year" id="day-{{ loop.index }}">
                        <h2>Matchday {{ loop.index }}</h2>
                    </div>
                    {% for video in video_list %}
                        {{ video_card(video) }}
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% for video in videos %}
                    {{ video_card(video) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
