{% extends "archive/base.html" %}

{% from "archive/videos.html" import video_card %}

{% block metadata %}
<meta property="og:title" content="{{ object.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri() }}" />
<meta property="og:image" content="{{ object.logo.url }}" />
<meta property="og:site_name" content="Bootleg 4CC" />
<meta property="og:description" content="Bootleg recordings of the {{ object.name }}. {% with video_count = videos|length %}{{ video_count }} video{% if video_count != 1 %}s{% endif %}{% endwith %}." />
{% endblock %}

{% block title %}{{ object.name }} - Bootleg 4CC{% endblock %}

{% block content %}
    <div class="info-header tournament-info">
        <h2>{{ object.name }}</h2>
        <h3>{{ object.start_date|dateformat }} - {{ object.end_date|dateformat }}</h3>
    </div>
    <div class="grid-wrapper">
        <div class="videos grid">
            {% for video in videos %}
                {{ video_card(video) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
